<section *ngIf="vehiculo && detalleVehiculo">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
  <header [ngStyle]="{ 'background-image': 'url(' + vehiculo.urlImagen + ')'}"
  class="rk-portfolio-cover item-inside-1">
    <div>
      <h1 [ngStyle]="{ 'text-align': 'center'}" class="ae-u-bolder">{{vehiculo.marca}} {{vehiculo.modelo}}</h1>  
      <div class="container-fluid">
        <div class="DetailRow"> 
          <div [ngStyle]="{ 'width': '5%'}" class="DetailColumn">Color:</div>
          <div class="DetailColumn">{{detalleVehiculo.color}}</div>
        </div>
      </div>
    </div>
  </header>
</section>